<h1>Form 1</h1>

<form action="/getName" method="get">
  Please enter your name:
  <input name="name" type="text"></input>
  <button type="submit">submit</button>
</form>

<h1>Form 2</h1>
<form action="/postName" method="post">
  Please enter your name:
  <input name="name" type="text"></input>
  <button type="submit">submit</button>
</form>
